:root {
--atl-bg: #C4C4C4; 
--bos-bg: #18509F; 
--cdh-bg: #FFA000; 
--dal-bg: #0C2340; 
--dyn-bg: #AA8A00; 
--fla-bg: #000000; 
--gla-bg: #60269E; 
--gzc-bg: #122C42; 
--hou-bg: #000000; 
--hzs-bg: #FB7299; 
--inf-bg: #E2012D; 
--ldn-bg: #59CBE8; 
--lve-bg: #000000; 
--nye-bg: #171C38; 
--sfs-bg: #A5ACAF; 
--shd-bg: #D22630; 
--tor-bg: #000000; 
--val-bg: #1888C6; 
--van-bg: #09226B; 
--was-bg: #990034; 

--atl-txt: #910F1B;
--bos-txt: #FFF001;
--cdh-txt: #161823;
--dal-txt: #0072CE;
--dyn-txt: #000000;
--fla-txt: #CF4691;
--gla-txt: #F849FE;
--gzc-txt: #67A2B2;
--hou-txt: #97D700;
--hzs-txt: #FFFFFE;
--inf-txt: #000000;
--ldn-txt: #1C2B39;
--lve-txt: #9C182F;
--nye-txt: #0F57EA;
--sfs-txt: #FC4C02;
--shd-txt: #000000;
--tor-txt: #C10021;
--val-txt: #FFD100;
--van-txt: #2FB228;
--was-txt: #003768;
}

/* OWL COLOURS FOR FUTURE UPDATE
.btn-primary:hover {
    color: #081418;
    background-color: #f79014;
    border-color: #e67b00;
}

.btn-primary {
    color: #081418;
    background-color: #f89c2d;
    border-color: #ff8900;
}

*/

/*Bootstrap modal bug fix*/
body:not(.modal-open){
  padding-right: 0px !important;
}

/*Rank List*/

div.owl-teams .rank-list-item {
    color: #bbb;
    background-color: white;
    text-align:center; 
    font-weight: bold;
}

.owl-teams .rank-list-item:hover:not(.disabled) {
  background-color: #ddeaf6;
  cursor: grab;
}

.owl-teams .rank-list-item.sortable-ghost {
  color: transparent;
}

.owl-teams .rank-list-item.sortable-ghost:hover:not(.disabled) {
  cursor: grabbing;
}
.owl-teams .rank-list-item.sortable-selected:hover:not(.disabled), 
.owl-teams .rank-list-item.sortable-chosen:hover:not(.disabled), 
.owl-teams .rank-list-item.sortable-ghost.sortable-chosen:hover:not(.disabled), 
.owl-teams .rank-list-item.sortable-drag:hover:not(.disabled) {
  cursor: grabbing;
}

.owl-teams .rank-list-item.sortable-selected, 
.owl-teams .rank-list-item.sortable-chosen, 
.owl-teams .rank-list-item.sortable-ghost.sortable-chosen, 
.owl-teams .rank-list-item.sortable-drag {
    border: 3px solid;
    font-weight: lighter;
    font-style: italic;
}

a[id^=roster_] {
    float: right;
    margin-right: 10px;
    font-size: larger;
}

a[id$=ATL] {
    color: var(--atl-txt);
}

a[id$=BOS] {
    color: var(--bos-txt);
}

a[id$=CDH] {
    color: var(--cdh-txt);
}

a[id$=DAL] {
    color: var(--dal-txt);
}

a[id$=FLA] {
    color: var(--fla-txt);
}

a[id$=GLA] {
    color: var(--gla-txt);
}

a[id$=GZC] {
    color: var(--gzc-txt);
}

a[id$=HZS] {
    color: var(--hzs-txt);
}

a[id$=HOU] {
    color: var(--hou-txt);
}

a[id$=LDN] {
    color: var(--ldn-txt);
}

a[id$=VAL] {
    color: var(--val-txt);
}

a[id$=NYE] {
    color: var(--nye-txt);
}

a[id$=LVE] {
    color: var(--LVE-txt);
}

a[id$=INF] {
    color: var(--INF-txt);
}

a[id$=SFS] {
    color: var(--sfs-txt);
}

a[id$=DYN] {
    color: var(--dyn-txt);
}

a[id$=SHD] {
    color: var(--shd-txt);
}

a[id$=TOR] {
    color: var(--tor-txt);
}

a[id$=VAN] {
    color: var(--van-txt);
}

a[id$=WAS] {
    color: var(--was-txt);
}

div[data-rank-id="Atlanta Reign"].rank-list-item,
div[data-rank-id="Atlanta Reign"].rank-list-item.sortable-selected {
	color: var(--atl-txt);
	background-color: var(--atl-bg);
}

div[data-rank-id="Boston Uprising"].rank-list-item,
div[data-rank-id="Boston Uprising"].rank-list-item.sortable-selected {
	color: var(--bos-txt);
	background-color: var(--bos-bg);
}

div[data-rank-id="Chengdu Hunters"].rank-list-item,
div[data-rank-id="Chengdu Hunters"].rank-list-item.sortable-selected {
	color: var(--cdh-txt);
	background-color: var(--cdh-bg);
}

div[data-rank-id="Dallas Fuel"].rank-list-item,
div[data-rank-id="Dallas Fuel"].rank-list-item.sortable-selected {
	color: var(--dal-txt);
	background-color: var(--dal-bg);
}

div[data-rank-id="Florida Mayhem"].rank-list-item,
div[data-rank-id="Florida Mayhem"].rank-list-item.sortable-selected {
	color: var(--fla-txt);
	background-color: var(--fla-bg);
}

div[data-rank-id="Guangzhou Charge"].rank-list-item,
div[data-rank-id="Guangzhou Charge"].rank-list-item.sortable-selected {
	color: var(--gzc-txt);
	background-color: var(--gzc-bg);
}

div[data-rank-id="Hangzhou Spark"].rank-list-item,
div[data-rank-id="Hangzhou Spark"].rank-list-item.sortable-selected {
	color: var(--hzs-txt);
	background-color: var(--hzs-bg);
}

div[data-rank-id="Houston Outlaws"].rank-list-item,
div[data-rank-id="Houston Outlaws"].rank-list-item.sortable-selected {
	color: var(--hou-txt);
	background-color: var(--hou-bg);
}

div[data-rank-id="London Spitfire"].rank-list-item,
div[data-rank-id="London Spitfire"].rank-list-item.sortable-selected {
	color: var(--ldn-txt);
	background-color: var(--ldn-bg);
}

div[data-rank-id="Los Angeles Gladiators"].rank-list-item,
div[data-rank-id="Los Angeles Gladiators"].rank-list-item.sortable-selected {
	color: var(--gla-txt);
	background-color: var(--gla-bg);
}

div[data-rank-id="Los Angeles Valiant"].rank-list-item,
div[data-rank-id="Los Angeles Valiant"].rank-list-item.sortable-selected {
	color: var(--val-txt);
	background-color: var(--val-bg);
}

div[data-rank-id="New York Excelsior"].rank-list-item,
div[data-rank-id="New York Excelsior"].rank-list-item.sortable-selected {
	color: var(--nye-txt);
	background-color: var(--nye-bg);
}

div[data-rank-id="Vegas Eternal"].rank-list-item,
div[data-rank-id="Vegas Eternal"].rank-list-item.sortable-selected {
	color: var(--lve-txt);
	background-color: var(--lve-bg);
}

div[data-rank-id="Seoul Infernal"].rank-list-item,
div[data-rank-id="Seoul Infernal"].rank-list-item.sortable-selected {
	color: var(--inf-txt);
	background-color: var(--inf-bg);
}

div[data-rank-id="San Francisco Shock"].rank-list-item,
div[data-rank-id="San Francisco Shock"].rank-list-item.sortable-selected {
	color: var(--sfs-txt);
	background-color: var(--sfs-bg);
}

div[data-rank-id="Seoul Dynasty"].rank-list-item,
div[data-rank-id="Seoul Dynasty"].rank-list-item.sortable-selected {
	color: var(--dyn-txt);
	background-color: var(--dyn-bg);
}

div[data-rank-id="Shanghai Dragons"].rank-list-item,
div[data-rank-id="Shanghai Dragons"].rank-list-item.sortable-selected {
	color: var(--shd-txt);
	background-color: var(--shd-bg);
}

div[data-rank-id="Toronto Defiant"].rank-list-item,
div[data-rank-id="Toronto Defiant"].rank-list-item.sortable-selected {
	color: var(--tor-txt);
	background-color: var(--tor-bg);
}

div[data-rank-id="Vancouver Titans"].rank-list-item,
div[data-rank-id="Vancouver Titans"].rank-list-item.sortable-selected {
	color: var(--van-txt);
	background-color: var(--van-bg);
}

div[data-rank-id="Washington Justice"].rank-list-item,
div[data-rank-id="Washington Justice"].rank-list-item.sortable-selected {
	color: var(--was-txt);
	background-color: var(--was-bg);
}